# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS system files
.DS_Store

# IDE files
.idea/
.vscode/
*.swp 